@import "tailwindcss";

:root {
  --color-olive: #a8c030;
  --color-yellow-green: #c8d820;
  --color-body-text: #d0d8c0;
  --color-muted: #9aaa88;
  --font-kallisto: "Kallisto", sans-serif;
  --font-seravek: "Seravek", sans-serif;
}

body {
  /* background-color: #0E2A1F; */
  background-image: url('/bg.png');

  background-size: cover;

  color: var(--color-body-text);
  font-family: var(--font-seravek);
  position: relative;
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 0;
  background: linear-gradient(160deg, rgba(20, 40, 15, 0.50), rgba(15, 35, 25, 0.56));
  pointer-events: none;
}

body>* {
  position: relative;
  z-index: 1;
}

/* ── KALLISTO ───────────────────────────────────────── */
@font-face {
  font-family: "Kallisto";
  src: url("/fonts/Kallisto_Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kallisto";
  src: url("/fonts/Kallisto_Thin_Italic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kallisto";
  src: url("/fonts/Kallisto_Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kallisto";
  src: url("/fonts/Kallisto_Light_Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kallisto";
  src: url("/fonts/Kallisto_Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kallisto";
  src: url("/fonts/Kallisto_Medium_Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kallisto";
  src: url("/fonts/Kallisto_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kallisto";
  src: url("/fonts/Kallisto_Bold_Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kallisto";
  src: url("/fonts/Kallisto_Heavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kallisto";
  src: url("/fonts/Kallisto_Heavy_Italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* ── SERAVEK ────────────────────────────────────────── */
@font-face {
  font-family: "Seravek";
  src: url("/fonts/Seravek.ttc") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-kallisto: "Kallisto", sans-serif;
  --font-seravek: "Seravek", sans-serif;
}